Flask==0.11
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.10
itsdangerous==0.24
lxml==3.6.1
python-memcached==1.58
requests==2.9.1
simplejson==3.8.2
wsgiref==0.1.2
pyOpenSSL==16.0.0
ndg-httpsclient==0.4.2
pyasn1==0.1.9
